[project]
	description = A Typescript cheminformatics toolkit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matthew Sprague (mesprague)
[access "refs/for/refs/*"]
	read = group user/Matthew Sprague (mesprague)
	push = group user/Matthew Sprague (mesprague)
	label-Code-Review = -2..+2 group user/Matthew Sprague (mesprague)
	label-Verified = -1..+1 group user/Matthew Sprague (mesprague)
	rebase = group user/Matthew Sprague (mesprague)
	removeReviewer = group user/Matthew Sprague (mesprague)
	submit = group user/Matthew Sprague (mesprague)
[access "refs/heads/*"]
	read = group user/Matthew Sprague (mesprague)
	create = group user/Matthew Sprague (mesprague)
	push = +force group user/Matthew Sprague (mesprague)
	pushMerge = group user/Matthew Sprague (mesprague)
[access "refs/tags/*"]
	push = group user/Matthew Sprague (mesprague)
	push = +force group user/Matthew Sprague (mesprague)
